$mncolor:#eee;
$color-2:#3087f5;
$almostblk:#2d2d2d;

.email-container {
    max-width: 500px;
    background: $mncolor;
    font-family: sans-serif;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}

h1 {
color: #almostblk;
}


.pre-header {
  @extend .email-container ;
    color: $mncolor;
    font-size: 5px; 
}

img {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 20px;
    font-size: 18px;
    font-weight: 300;
    color:$almostblk;
    line-height: 1.5;
}

.cta {
    margin: 20px;
}

.watchvid{
    background-color: #f90;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    
.footer-junk {
    @extend .email-container ;
    background: none;
    padding: 20px;
    font-size: 12px;
    a {
        color: #666;
    }
}